<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <h1 style="text-align: center;" >Welcome to the Fruit Store</h1>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>
<style>
    .MainPageBackGround {
        background-image:url('images/background_image_green.png');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .TextFormat {
        <!-- background-color: white; -->
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }

    .toCenter {
        text-align: center;
    }
</style>

<body class="MainPageBackGround">
<div class="toCenter">
    <h1>水果線上商店</h1>
    <img src="images/fruit.jpg" alt="Fruit Photo" width="600" height="400">

    <p><a th:href="@{/users}">商品列表</a></p>
    <p><a th:href="@{/information}">最新公告</a></p>
    <p><a th:href="@{/purchase}">購買細節</a></p>
    <p><a th:href="@{/checkout}">結帳區</a></p>


</div>
</body>
</html>