<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Information Page</title>


</head>
<body>

<div align ="center">
    <h1><i>最新公告</i></h1>
    <p>1.農產運銷公司第三台質譜儀預計於明(111)年元旦正式啟用，增加蔬菜水果的檢驗件數，提高抽檢覆蓋率，為民眾的食安把關再升級。</p>
    <p>2.中央流行疫情指揮中心於12月27日宣布，自12月28日起至111年1月10日止，維持疫情警戒標準為第二級之防疫，批發市場仍需依
        「批發市場防疫管理措施建議指引」規定辦理。</p>
    <p>3.為維護批發市場場域安全，進入市場須量體溫、全程戴口罩、消毒，保持社交距離（室內1.5公尺）避免群聚。市場內嚴禁飲食、試吃，僅供外帶。</p>
    <p>4.消費者進入零批場：每日早上7點起，掃描實聯制QR-Code。</p>
    <h2><i>實體市場地址</i></h2>
    <p>台中市西屯區文華路100號</p>

</div>
</body>
</html>