<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product Page</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css"/>

</head>

<style>
    .PageBackground {
        background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRY8fIMEQdHJlFMAfB2LVEJ-Ntrm2IPsAw_Kw&usqp=CAU');
        background-repeat: no-repeat;
        background-size:cover;
    }

    .TextFormat {
    <!-- background-color: white; -->
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }

    .toCenter {
        text-align: center;
    }
</style>

<body class="PageBackground">
<div class="container-fluid text-center">
    <h2><i>商品列表</i></h2>
    <div>
        <table class="table table-bordered">
            <thead class="thead-dark">
            <tr>
                <th>商品編號</th>

                <th>商品名稱</th>

                <th>商品價格(每公斤)</th>

                <th>選購商品</th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="user: ${listUsers}">
                <tr>
                    <td>[[${user.id}]]</td>

                    <td>[[${user.firstName}]]</td>

                    <td>[[${user.price}]]</td>

                    <td><a class="h4 mr-3" th:href="@{'/users/edit/'+ ${user.id}}">購買</a></td>
                </tr>
            </th:block>

            </tbody>


        </table>
    </div>
</div>
</body>
</html>